<li>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="http://placekitten.com/300/400" alt="">
            </div>
            <div class="flip-card-back">
                <h1>John Doe</h1>
                <p>Architect & Engineer</p>
                <p>We love that guy</p>
            </div>
        </div>
    </div>
    <div class="uk-position-center uk-panel">
        <h1>1</h1>
    </div>
</li>