<li>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="http://placekitten.com/300/400" alt="">
            </div>
        </div>
    </div>

</li>