<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Welcome!</h1>
        {{#if user}}
        <h2>This is our Home Page!</h2>
        <a href="/logout" class="btn btn-success">Log Out</a>
        <a href="/users" class="btn btn-success">Users</a>
        {{else}}
        <p>Please <a href="/login">log in</a>.</p>
        {{/if}}
      </div>
    </div>
  </div>
</div>