<div id="home">
  <nav class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center">
            <img class="popcorn" src="../assets/images/popcorn.png" alt="Popcorn">
            <h1 a href="/index">DASFLIX</h1>
          </div>
          <div class="col-lg-6 d-flex align-items-center justify-content-end">
            {{#if user}}
            <h2>This is our Home Page!</h2>
            <a href="/watchlists" class="btn btn-primary">Watchlist</a>
            <a href="/logout" class="btn btn-primary">Log Out</a>
            {{else}}
            <p>Please <a href="/login">log in</a>.</p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </nav>
  <section class="container-fluid p-5">
    <div id="showcase">

    </div>
    <div class="row p-5" id="filters">
      <div class="col-lg-12 d-flex align-items-center justify-content-between">
        <div>
          <a href="" id="tv-shows-button" class="btn btn-primary">TV Shows</a>
          <a href="" id="movies-button" class="btn btn-primary">Movies</a>
        </div>
        <div>
          <input type="text" placeholder="search by movie" id="submit-query">
          <input type="submit" id="submit">
        </div>
      </div>
    </div>

    <div id="search">

    </div>
    <!-- Modal HTML embedded directly into document -->
    <div id="ex1" class="modal">
      <p class="text-dark">Hello</p>
    </div>

    <!-- Link to open the modal -->
    <p><a href="#ex1" rel="modal:open">Open Modal</a></p>
  </section>


</div>