<div id="home">
  <nav class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center">
            <img class="popcorn" src="../assets/images/popcorn.png" alt="Popcorn">
            <h1>DASFLIX</h1>
          </div>
          <div class="col-lg-6 d-flex align-items-center justify-content-end">
            {{#if user}}
            <h2>This is our Home Page!</h2>
            <a href="/watchlists" class="btn btn-primary">Watchlist</a>
            <a href="/logout" class="btn btn-primary">Log Out</a>
            {{else}}
            <p>Please <a href="/login">log in</a>.</p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </nav>
  <section class="container-fluid p-5">

    <div class="row" id="filters">
      <div class="col-lg-12 d-flex align-items-center">
        <a href="/users" class="btn btn-primary">Placeholder</a>
        <a href="/logout" class="btn btn-primary">Placeholder</a>
        <input type="text" placeholder="search by movie" id="submit-query">
        <input type="submit" id="submit">
      </div>
    </div>
    <div class="row container-fluid" id="search">

      <div id="search-ul">
      </div>
  </section>
</div>

</div>