:root {
    --dark-color: #1b1b2f;
    --lighter-color: #1f4068;
    --primary-color: #e43f5a;
    --logo-font: 'Luckiest Guy', cursive;
    --body-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}
html,
body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--dark-color) !important;
}
.container {
    max-width: 100vw;
}
h1 {
    font-family: var(--logo-font);
    font-size: 70px;
    color: white;
    margin-top: 20px;
}
h2 {
    font-family: var(--secondary-font);
    color: white;
}
p,
h2,
h3,
h4,
h5,
li {
    font-family: var(--body-font);
    color: white;
}
.btn-primary {
    background-color: var(--primary-color) !important;
}
.logo {
    margin-left: 10px;
    font-family: var(--logo-font);
    font-size: 80px;
    color: white;
    text-shadow: 0 5px var(--primary-color);
}
.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    width: 101%;
    height: 100vh;
    position: relative;
    background: url('../assets/images/movies-login.jpg') no-repeat center center/cover;
}
.login-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.list-group-item {
    line-height: 2.5;
}
.height100 {
    height: 100%;
}
nav.container-fluid {
    background: var(--lighter-color);
}
section.container-fluid {
    background: var(--dark-color);
    height: 150vh;
}
.popcorn {
    height: 5em;
    width: 5em;
    display: block;
}
#showcase {
    height: 300px;
}
#filters {
    height: 150px;
}
#search {
    height: 300px;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 100%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: var(--dark-color);
    color: white;
    transform: rotateY(180deg);
}
#placeholder {
    height: 100%;
    min-height: 88vh;
}
#search-ul {
    max-width: 100vw;
}
ul {
  padding-inline-start: 0px;git 
}
.glide {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.glide * {
    box-sizing: inherit;
}
.glide__track {
    overflow: hidden;
}
.glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;
}
.glide__slides--dragging {
    user-select: none;
}
.glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.glide__arrows {
    -webkit-touch-callout: none;
    user-select: none;
}
.glide__bullets {
    -webkit-touch-callout: none;
    user-select: none;
}
.glide--rtl {
    direction: rtl;
}

.watchlists-grid {
    display: grid;
    grid-gap: 10px;
    grid-row-gap: 40px;
    grid-template-rows: [row1] 47% [row2] 47%;
    grid-template-columns: [col1] 25% [col2] 25% [col3] 25% [col4] 25%;
}
.watchlist-box {
    height: 150px;
    width: 300px;
    background: var(--lighter-color);
    list-style: none;
}
#ex1 li {
    color: black;
}
.list-group-item:hover {
    background: var(--dark-color);
    color: white !important;
}
.modal {
    height: 50%;
}
.card-taller {
  height: 300px;
}
.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8; /* number of lines to show */
  -webkit-box-orient: vertical;
}